<template id="yajsf-form">
  <style>
    label, input, textarea, select {
      width: 100%;
    }
  </style>
  <script>console.warn("EMBEDDED SCRIPTS ARE ENABLED")</script>
  <form class="main">
    <slot></slot>
    <slot name="buttons">
      <button>Submit</button>
      <button type="reset">Reset</button>
    </slot>
  </form>
</template>


<template id="yajsf-system">
  <slot><input class="main"/></slot>
</template>


<template id="yajsf-input">
  <style>
    :host, .label {
      display: block;
    }
    .errors {
      color: red;
      list-style-type: none;
      font-size: .85rem;
    }
  </style>
  <label>
    <slot class="label"><!-- title --></slot>
    <slot name="input"><input class="main"/></slot>
    <slot name="errors" class="errors"></slot>
  </label>
</template>


<template id="yajsf-select">
  <style>
    [name=options] {
      display: none;
    }
  </style>
  <!-- it's confusing to have a select included into an input thing -->
  <y-input>
    <slot><!-- title --></slot>
    <slot name="errors" slot="errors" class="errors"></slot>
    <slot name="options"></slot>
    <select slot="input" class="main"></select>
  </y-input>
</template>


<template id="yajsf-textarea">
  <y-input>
    <slot><!-- title --></slot>
    <slot name="errors" slot="errors" class="errors"></slot>
    <textarea slot="input" class="main"></textarea>
  </y-input>
</template>


<template id="yajsf-fieldset">
  <fieldset class="main">
    <legend>
      <slot name="legend"></slot>
    </legend>
    <slot></slot>
  </form>
</template>


<template id="y-datalist">
  <datalist class="main">
    <slot name="options"></slot>
  </datalist>
</template>

<!--
hidden

color
image
file

month
week
tel
url
search
-->
